<!-- ============================================================== -->
<!-- Main wrapper - -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar  animated fadeIn fast" style="background-image:url(../assets/images/emprendedor.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" (ngSubmit)="enter()">
                <h1 style="text-align: center;"> <i class="fas fa-user-tie fa-3x">
                  <br><b>SECP</b>
                </i> </h1>
                <br>
                <div class="form-group m-t-40 ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="text " required=" " placeholder="Usuario ">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="password " required=" " placeholder="Contraseña ">
                    </div>
                </div>
                <div class="form-group row ">
                </div>
                <div class="form-group text-center m-t-20 ">
                    <div class="col-xs-12 ">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase btn-rounded " type="submit ">Ingresar</button>
                    </div>
                </div>
                <div class="form-group m-b-0 ">
                    <div class="col-sm-12 text-center ">
                        ¿No tienes una cuenta? <b>Notificalo a tu superior</b>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Wrapper -->
<!-- ============================================================== -->