<div class="about animated fadeIn fast">
    <h1>¿QUIENES SOMOS?  <i class="far fa-question-circle"></i></h1>
</div>
<br />
<br />
<div class="row">
    <div class="col-4">
        <img class="animated fadeIn fast" style="width: 100%; border: 1px;" src="../../../assets/images//quien.png" alt="" />
    </div>
    <div class="col-8">
        <p>
            <b>SEPC</b> es un sistema de gestión empresarial para pequeñas pymes que por motivos economicos no pueden adquirir grandes y complejisimos sistemas <b>ERP</b>, además que muchos de estos poseen funcionalidades que los pequeños empresarios no necesitan y que representan
            gastos sin sentido. Es por eso que surge nuestro sistema de control empresarial pyme, un sistema de software vertical que tiene objetivo ayudar a las pequeñas empresas a administrar su personal y productos de una manera sencilla junto a un
            precio economico que cualquier emprendedor en sus inicios <b>no podrá rechazar</b>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h2>¿Qué es un software ERP?</h2>
        <p>
            Una definición sencilla de qué es un <b>ERP (Enterprise Resource Planning – Planificación de Recursos Empresariales)</b> es un conjunto de sistemas de información que permite la integración de ciertas operaciones de una empresa, especialmente las que tienen
            que ver con la producción, la logística, el inventario, los envíos y la contabilidad. El ERP funciona como un sistema integrado, y aunque pueda tener menús modulares, es un todo. Es decir, es un único programa con acceso a una base de datos
            centralizada.
        </p>
        <h2>¿Por que implementar un software ERP</h2>
        <p>
            negocio o por la urgencia en adaptarse a las demandas del mercado y los clientes, la mayoría de las empresas se han dado cuenta de que no les basta con seguir trabajando con tareas manuales, aplicaciones ofimáticas, tipo Excel, o sistemas legacy que son
            incapaces de actualizar para añadir nuevas funciones.
        </p>
    </div>
    <div class="col-4">
        <img class=" animated fadeIn fast" style="width: 100%; border: 1px;" src="../../../assets/images/erp.jpg" alt="" />
    </div>
    <div class="col-12">
        <p>
            Ahora que sabes lo que es en sintesis un sistema ERP y cuales son las ventajas de implementarlo en tu negocio te vamos a indicar con que funcionalidades cuenta nuestro sistema de control de pymes
        </p>
    </div>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ícono</th>
                <th scope="col">Función</th>
                <th scope="col">Definición</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-user-plus fa-2x"></i></td>
                <td>
                    Agregar empleado
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
            <tr>
                <td><i class="fas fa-users-cog fa-2x"></i></td>
                <td>
                    Modificar empleado
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
            <tr>
                <td><i class="fas fa-user-times fa-2x"></i></td>
                <td>
                    Eliminar empleado
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
            <tr>
                <td><i class="fas fa-hat-cowboy fa-2x"></i></td>
                <td>
                    Agregar Producto
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
            <tr>
                <td><i class="fas fa-tshirt fa-2x"></i></td>
                <td>
                    Modificar Producto
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
            <tr>
                <td><i class="fas fa-socks fa-2x"></i>
                </td>
                <td>
                    Eliminar Producto
                </td>
                <td>Para hacer un mejor control administrativo del personal es muy útil que se tenga un control de los empleados, por ello a medida de que se contrate personal se podrá añadir empleados a su base de datos para mantener un control</td>
            </tr>
        </tbody>
    </table>
</div>