<div id="title" class="text-center">
    <h1>Bienvenido a Preguntados: Infraestructure Edition</h1>
</div>
<p>¿Quieres aprender de forma dinámica y rápida cómo puedes reconocer todas las sedes de la universidad sin ningun tipo de problema? Pues mira el siguiente video informativo y vamos a jugar</p>
<div class="yt-video">
    <iframe width="760" height="415" src="https://www.youtube.com/embed/3XCCs6d68C8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class=" button-play col-xs-12 ">
    <button class="button-play" (click)="play()" style="background-color: #e86320; color: white; margin-left: 38%;" class="btn btn-lg text-uppercase btn-rounded "
        type="submit ">¡QUIERO JUGAR YA MISMO!</button>
</div>