<!-- AQUÍ SE DEBE MOSTRAR COMO EN EL VIDEO LA LISTA DE LOS EMPEADOS DISPONIBLESR -->
<h1>EMPLEADOS <i class="fas fa-users"></i></h1>
<div>
    <div class="row animated fadeIn fast">
        <div class="col-9">
            <p>Consulta los emplados disponibles, recuerda que para añadir empleados debes dar en el botón de agregar empleado en la parte derecha de la pantalla</p>
        </div>
        <div class="col">
            <button type="button" (click)="addEmploye()" class="btn btn-primary"><i class="fas fa-plus-square"></i><b>   Agregar Empleado</b></button>
        </div>
    </div>
    <div class="col  animated fadeIn fast">
        <h3>Lista de empleados disponibles</h3>
         <!-- LO IDEA ES QUE CADA EMPLEADO SE MUESTRE EN UNA TARJETA, MEDIANTE LAS TARJETAS DE BOOTSTRAP
        AUNQUE SIMPLEMENTE TRAIGA LA INFORMACIÓN COMPLETA, SI ALGO YO ARREGLO TODOS LOS ESTILOS AL FINAL -->
        <p>Tarjetas con los empleados</p>
    </div>
</div>
<div class="col-md-4" *ngFor="let person of person">
    <button>Aregar empleado</button>
    <div class="card text-center">
        <div class="card-header">
            {{person.first_name}}
        </div>
    </div>
</div>