<!-- HTML DEL COMPONENTE PARA MOSTRAR TODOS LOS PRODUCTOS, LISTARLOS -->
<h1>Productos <i class="fas fa-tshirt"></i></h1>
<div>
    <div class="row animated fadeIn fast">
        <div class="col-9">
            <p>
                Consulta tu inventario, recuerda que para añadir productos debes dar en el siguientepara añadir empleados debes dar en el botón de agregar producto en la parte derecha de la pantalla
            </p>
        </div>
        <div class="col">
            <button type="button" (click)="addEmploye()" class="btn btn-primary">
        <i class="fas fa-plus-square"></i><b> Agregar Producto</b>
      </button>
        </div>
    </div>
    <div class="col  animated fadeIn fast">
        <h3>Lista de productos disponibles</h3>
        <!-- LO IDEA ES QUE CADA PRODUCTO SE MUESTRE EN UNA TARJETA, MEDIANTE LAS TARJETAS DE BOOTSTRAP
        AUNQUE SIMPLEMENTE TRAIGA LA INFORMACIÓN COMPLETA, SI ALGO YO ARREGLO TODOS LOS ESTILOS AL FINAL -->
        <p>Tarjetas con los productos</p>
    </div>
</div>